[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.5.0"
colorama = "*"
docker = "==3.5.1"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
