[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.5.0"
colorama = "*"
docker = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"assertpy" = "*"
pytest = "<4.0"
mypy = "*"

[requires]
python_version = "3.6"
